@using ShorteningLink.Domain
@model IEnumerable<Link>

<h1>Список сокращённых ссылок</h1>

<form asp-action="Create" method="post" id="urlForm">
    <input type="url" name="longUrl" placeholder="Введите ссылку" required />
    <span id="urlError" class="text-danger" style="display:none;">Введите корректный URL</span>
    <button type="submit">Сократить</button>
</form>

<table>
    <thead>
        <tr>
            <th>Длинный URL</th>
            <th>Сокращенный URL</th>
            <th>Дата создания</th>
            <th>Количество переходов</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var url in Model)
        {
            <tr>
                <td>@url.LongURL</td>
                <td>
                    <a href="/@url.ShortURL" target="_blank">
                        @ViewBag.ApplicationUrl/@url.ShortURL
                    </a>
                </td>
                <td>@url.CreationDate.ToString("yyyy-MM-dd")</td>
                <td>@url.VisitCount</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@url.Id" />
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById("urlForm").onsubmit = function (event) {
            var urlInput = document.querySelector('input[name="longUrl"]');
            var urlError = document.getElementById("urlError");

            if (!urlInput.checkValidity()) {
                urlError.style.display = "block";
                event.preventDefault();
            } else {
                urlError.style.display = "none";
            }
        };
    </script>
}